<div class="container">
    <nz-tabset>
      <nz-tab nzTitle="Not Verified">
        <nz-table [nzData]="notVerified">
          <thead>
            <tr>
              <th *ngFor="let obj of fieldsArr">{{ obj }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of notVerified">
              <td>{{ obj.Name }}</td>
              <td>{{ obj.Profile_Type }}</td>
              <td style="text-align: center">
                <h5 class="font-italic text-gray font-size-14 font-weight-normal p-t-10" *ngIf="!obj.PAN">Pending</h5>
                <i
                  class="ant-avatar-green"
                  *ngIf="obj.PAN"
                  nz-icon [nzType]="'check-circle'"></i>
              </td>
              <td style="text-align: center">
                <h5
                  class="font-italic text-gray font-size-14 font-weight-normal p-t-10"
                  *ngIf="!obj.Address"
                >
                  Pending
                </h5>
                <i
                  class="ant-avatar-green"
                  *ngIf="obj.Address"
                  nz-icon
                  [nzType]="'check-circle'"
                ></i>
              </td>
              <td style="text-align: center">
                <h5 class="font-italic text-gray font-size-14 font-weight-normal p-t-10" *ngIf="!obj.Face">
                  Pending
                </h5>
                <i class="ant-avatar-green" *ngIf="obj.Face" nz-icon [nzType]="'check-circle'"></i>
              </td>
              <td><a routerLink = '../gigprenuer-verification-details'>View</a></td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Verified">
        <nz-table [nzData] ="verified">
          <thead>
            <tr>
              <th *ngFor="let obj of fieldsArr">{{ obj }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of verified">
              <td>{{ obj.Name }}</td>
              <td>{{ obj.Profile_Type }}</td>
              <td style="text-align: center">
                <i
                  [class]="obj.PAN ? 'ant-avatar-green' : 'ant-avatar-red'"
                  nz-icon
                  [nzType]="obj.PAN ? 'check-circle' : 'close-circle'"
                ></i>
              </td>
              <td style="text-align: center">
                <i
                  [class]="obj.Address ? 'ant-avatar-green' : 'ant-avatar-red'"
                  nz-icon
                  [nzType]="obj.Address ? 'check-circle' : 'close-circle'"
                ></i>
              </td>
              <td style="text-align: center">
                <i
                  [class]="obj.Face ? 'ant-avatar-green' : 'ant-avatar-red'"
                  nz-icon
                  [nzType]="obj.Face ? 'check-circle' : 'close-circle'"
                ></i>
              </td>
              <td><a routerLink = '../gigprenuer-verification-details'>View</a></td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
      <nz-tab nzTitle="Rejected">
        <nz-table [nzData] = "rejected">
          <thead>
            <tr>
              <th *ngFor="let obj of fieldsArr">{{ obj }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of rejected">
              <td>{{ obj.Name }}</td>
              <td>{{ obj.Profile_Type }}</td>
              <td style="text-align: center">
                <i
                  [class]="obj.PAN ? 'ant-avatar-green' : 'ant-avatar-red'"
                  nz-icon
                  [nzType]="obj.PAN ? 'check-circle' : 'close-circle'"
                ></i>
              </td>
              <td style="text-align: center">
                <i
                  [class]="obj.Address ? 'ant-avatar-green' : 'ant-avatar-red'"
                  nz-icon
                  [nzType]="obj.Address ? 'check-circle' : 'close-circle'"
                ></i>
              </td>
              <td style="text-align: center">
                <i
                  [class]="obj.Face ? 'ant-avatar-green' : 'ant-avatar-red'"
                  nz-icon
                  [nzType]="obj.Face ? 'check-circle' : 'close-circle'"
                ></i>
              </td>
              <td><a routerLink = '../gigprenuer-verification-details'>View</a></td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
  </div>
  