<nz-modal
[(nzVisible)]="featureModalFlag"
nzTitle="Add New Feature" 
(nzOnOk) ="handleOk()"
(nzOnCancel) = "handleCancel()"
[nzWidth] = 650
>
<div class = "row">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Title<span class="text-danger m-l-5">*</span></h6>
        
    </div>
    <div class="col-sm-9">
        <input type="text" nz-input style="border: 1px solid grey;" nzSize="small" id="Title"> 
    </div>
</div>
<div class="row m-t-20">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Descriptions</h6>
    </div>
    <div class="col-sm-9">
        <textarea nz-input style="border: 1px solid grey;" nzAutosize id="Description"></textarea>
    </div>
</div>
<div class="row m-t-20">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Monthly Value<span class="text-danger m-l-5">*</span></h6>
    </div>
    <div class="col-sm-3">
        <input type="text" nz-input style="border: 1px solid grey;" nzSize="small" id="Monthly_value">
    </div>
    <div class="col-sm-3">
        <h6 class="font-weight-light">Monthly Cost ($)<span class="text-danger m-l-5">*</span></h6>
    </div>
    <div class="col-sm-3">
        <input type="text" nz-input style="border: 1px solid grey;" nzSize="small"  id="Monthly_cost">
    </div>
</div>
<div class="row m-t-20">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Yearly Value<span class="text-danger m-l-5">*</span></h6>
    </div>
    <div class="col-sm-3">
        <input type="text" nz-input style="border: 1px solid grey;" nzSize="small" id="Yearly_value">
    </div>
    <div class="col-sm-3">
        <h6 class="font-weight-light">Yearly Cost ($)<span class="text-danger m-l-5">*</span></h6>
    </div>
    <div class="col-sm-3">
        <input type="text" nz-input style="border: 1px solid grey;" nzSize="small" id="Yearly_cost">
    </div>
</div>
<div class="row m-t-20">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Duration (In Days)</h6>
    </div>
    <div class="col-sm-6">
        <input type="text" nz-input style="border: 1px solid grey;" nzSize="small" id="Duration">
    </div>
</div>
<div class="row m-t-20">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Is Active</h6>
    </div>
    <div class="col-sm-6">
        <input type="checkbox" id="isActive">
        <label for="isActive"> User can purchase this plan</label><br>
    </div>
</div>

</nz-modal>
