<div class="container">
    <div class="row m-b-30">
        <div class="col-lg-8">
            <div class="d-md-flex">
                <div class="m-b-10 m-r-20">
                    <nz-input-group>
                        <input type="text" nz-input placeholder="Search">
                    </nz-input-group>      
                    <ng-template>
                        <i nz-icon nzType="search" class="opacity-05"></i>
                    </ng-template>   
                </div>
                <div class="m-b-10 m-r-20 d-flex align-items-center">
                    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Status"  (ngModelChange)="myFunc($event)">
                        <nz-option *ngFor="let obj of status" [nzLabel]="status.Status" [nzValue]="status.StatusId"></nz-option>
                    </nz-select>
                </div>
            </div>          
        </div>
        <div class="m-b-10 m-r-20 d-flex align-items-center">
            <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Order">
                <nz-option nzLabel="Ascending Order" nzValue="ascending-order"></nz-option>
                <nz-option nzLabel="Descending Order" nzValue="descending-order"></nz-option>
            </nz-select>
        </div>
    </div>
    <nz-tabset>
        <nz-tab nzTitle="Employer">
            <nz-table [nzData] = "employer" class="overflow-auto">
                <thead>
                  <tr>
                    <th *ngFor="let obj of Fields">{{obj}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let obj of employer,let i =index">
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Username}}</td>
                    <td>{{obj.Email}}</td>
                    <td>{{obj.Profile_type}}</td>
                    <td>{{obj.Status}}</td>
                    <td><a>View</a></td>
                    <td>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                          <i nz-icon nzType="ellipsis"></i>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                          <ul nz-menu nzSelectable>
                            <li nz-menu-item>Inactive</li>
                            <li nz-menu-item class="text-danger" (click)="blockUser(i,obj)">Block</li>
                          </ul>
                        </nz-dropdown-menu>
                      </td>
                </tr>
                </tbody>
              </nz-table>
        </nz-tab>
        <nz-tab nzTitle="Gigprenuers">
            <nz-table [nzData] = "gigprenuer" class="overflow-auto">
                <thead>
                  <tr>
                    <th *ngFor="let obj of Fields">{{obj}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let obj of gigprenuer,let i = index">
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Username}}</td>
                    <td>{{obj.Email}}</td>
                    <td>{{obj.Profile_type}}</td>
                    <td>{{obj.Status}}</td>
                    <td><a>View</a></td>
                    <td>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                          <i nz-icon nzType="ellipsis"></i>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                          <ul nz-menu nzSelectable>
                            <li nz-menu-item>Inactive</li>
                            <li nz-menu-item class="text-danger" (click)="blockUser(i,obj)">Block</li>
                          </ul>
                        </nz-dropdown-menu>
                      </td>
                    </tr>

                </tbody>
              </nz-table>
        </nz-tab>
        <nz-tab nzTitle="Blocked Users">
            <nz-table [nzData]="blocked" class="overflow-auto">
                <thead>
                  <tr>
                    <th *ngFor="let obj of Fields">{{obj}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let obj of blocked,let i=index">
                    <td>{{obj.Name}}</td>
                    <td>{{obj.Username}}</td>
                    <td>{{obj.Email}}</td>
                    <td>{{obj.Profile_type}}</td>
                    <td>{{obj.Status}}</td>
                    <td><a>View</a></td>
                    <td>
                        <a nz-dropdown [nzDropdownMenu]="menu">
                          <i nz-icon nzType="ellipsis"></i>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                          <ul nz-menu nzSelectable>
                            <li nz-menu-item class="text-danger" (click)="unblockUser(i)">unblock</li>
                          </ul>
                        </nz-dropdown-menu>
                      </td>
                </tr>
                </tbody>
              </nz-table>
        </nz-tab>
       </nz-tabset>
</div>
