<div class="container">
    <nz-tabset>
        <nz-tab nzTitle="Not Verified(06)">
            <nz-table [nzData] ="profileDetails" class="overflow-auto">
                <thead>
                  <tr>
                    <th>NAME</th>
                    <th>PROFILE TYPE</th>
                    <th>PROFILE</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{employerDetails?.firstName}} {{employerDetails?.lastName}}</td>
                    <td>{{employerDetails?.roleType == "I"?'Individual Employer' : 'Enterprise'}}</td>
                    <td class="font-italic text-gray">{{profileDetails[2].Profile}}</td>
                    <td routerLink = "../employer-details"><a>View</a></tr>
                </tbody>
              </nz-table>
        </nz-tab>
        <nz-tab nzTitle="Verified(123)">
            <nz-table [nzData]="profileDetails" class="overflow-auto">
                <thead>
                  <tr>
                    <th>NAME</th>
                    <th>PROFILE TYPE</th>
                    <th>PROFILE</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{employerDetails?.firstName}} {{employerDetails?.lastName}}</td>
                    <td>{{employerDetails?.roleType == "I"?'Individual Employer' : 'Enterprise'}}</td>
                    <td><i (click)="checkProfile(i)" [class]="profileDetails[2].Profile_Status?'ant-avatar-green':'ant-avatar-red'" nz-icon [nzType]="profileDetails[1].Profile_Status?'check-circle':'close-circle'"></i></td>
                    <td routerLink = "../employer-details"><a>View</a></tr>
                </tbody>
              </nz-table>
        </nz-tab>
        <nz-tab nzTitle="Rejected(07)">
            <nz-table [nzData]="profileDetails" class="overflow-auto">
                <thead>
                  <tr>
                    <th>NAME</th>
                    <th>PROFILE TYPE</th>
                    <th>PROFILE</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{employerDetails?.firstName}} {{employerDetails?.lastName}}</td>
                    <td>{{employerDetails?.roleType == "I"?'Individual Employer' : 'Enterprise'}}</td>
                    <td><i (click)="checkProfile(i)" [class]="profileDetails[2].Profile_Status?'ant-avatar-green':'ant-avatar-red'" nz-icon [nzType]="profileDetails[2].Profile_Status?'check-circle':'close-circle'"></i></td>
                    <td><a routerLink = "../employer-details">View</a></tr>
                </tbody>
              </nz-table>
        </nz-tab>
       </nz-tabset>
</div>