<div class="row m-b-30">
  
  <div class="col-lg-4">
      <button nz-button nzType="primary" (click) = "popupCreate()">
          <span>Add New Inventory</span>
      </button>
  </div>
</div>

<nz-modal
[(nzVisible)]="isVisible"
nzTitle="Add New Category"
(nzOnCancel)= "handleCancel()"
(nzOnOk)= "handleOk()"
[nzWidth] = 650
>
<form [formGroup]="createInventoryForm" >
  <div class = "row">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Inventory Name <span class="text-danger m-l-5">*</span></h6>
        
    </div>
    <div class="col-sm-9">
        <input type="text" nz-input style="border: 1px solid grey;" nzSize="small" formControlName="inventoryname" placeholder="Enter inventory name"> 
    </div>
</div>
<div class="row m-t-20">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Short Desciption</h6>
    </div>
    <div class="col-sm-9">
        <textarea nz-input style="border: 1px solid grey;" nzAutosize  formControlName="shortdesciption" placeholder="Enter short desciption" ></textarea>
    </div>
</div>
<div class="row m-t-20">
  <div class="col-sm-3">
      <h6 class="font-weight-light">Long Desciption</h6>
  </div>
  <div class="col-sm-9">
      <textarea nz-input style="border: 1px solid grey;" nzAutosize formControlName="longdesciption" placeholder="Enter long desciption " ></textarea>
  </div>
</div>


<div class="row m-t-20">
    <div class="col-sm-3">
        <h6 class="font-weight-light">Price</h6>
    </div>
    <div class="col-sm-6">
        <input type="text" nz-input style="border: 1px solid grey;" nzSize="small"  formControlName="price" placeholder="Enter price ">
    </div>
</div>
</form>
</nz-modal>
