<div class="row m-b-30">
  
  <div class="col-lg-4">
      <button nz-button nzType="primary" (click) = "popupCreate()">
          <span>Add New Inventory</span>
      </button>
  </div>
</div>
<nz-tabset>
    <nz-tab nzTitle="thinkbridge">
      <nz-table [nzData] = "thinkbridge">
        <thead>
          <tr>
            <th *ngFor="let obj of header">{{obj}}</th>
          </tr>
        </thead>
        <tbody>
         <tr *ngFor="let data of thinkbridge,let i =index">
            <td>{{data.Category}}</td>
            <td>{{data.FAQ}}</td>
            <td>{{data.Last_Updated}}</td>
            <td><a routerLink = "../inveentory-list">View</a></td>
            <td>
              <a nz-dropdown [nzDropdownMenu]="menu">
                <i nz-icon nzType="ellipsis"></i>
              </a>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="modifyQuestion(i,'thinkbridge')">Modify</li>
                  <li nz-menu-item text-danger (click)="deleteModal(i,'thinkbridge')">Delete</li>
                </ul>
              </nz-dropdown-menu>
            </td>
         </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>


  <nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Add New Category"
  (nzOnCancel)= "handleCancel()"
  (nzOnOk)= "handleOk()"
>
  <h6>Category Type</h6>
  <button nz-button nz-dropdown [nzDropdownMenu]="menu1" [nzTrigger]="'click'">
  {{selectedCategory}}
    <i nz-icon nzType="down"></i>
  </button>
  <nz-dropdown-menu #menu1="nzDropdownMenu">
    <ul nz-menu>
      <li
        nz-menu-item
        (click)="selectCategory(obj)"
        *ngFor="let obj of categoryTypeArray"
      >
        {{ obj }}
      </li>
    </ul>
  </nz-dropdown-menu>
  <ng-container>
    <h6 class="m-t-50">Category Name</h6>
    <div>
      <input nz-input placeholder="Enter Category Name" id="category-name">
    </div>
    
  </ng-container>
</nz-modal>

<nz-modal
  [(nzVisible)]="modifyQuestionFlag"
  nzTitle="Modify Record"
  (nzOnCancel)="CancelModify()"
  (nzOnOk)="ConfirmModify()"
  [nzFooter]="modifyFooter"
>
  <h6>Category</h6>
  <div>
    <textarea nz-input id="modifiedcategory"  rows="1">
      {{modifyArray[selectedDetail].Category}}
    </textarea>
  </div>
 
    <h6 class="m-t-50">FAQ</h6>
    <div>
      <textarea nz-input id="modifiedFAQ" [nzAutosize]="{ minRows: 4, maxRows: 4 }">
        {{modifyArray[selectedDetail].FAQ}}
      </textarea>
    </div>
    <ng-template #modifyFooter>
      <button nz-button nzType="primary" (click)="ConfirmModify()">Save</button>
      <button nz-button nzType="primary" (click)="CancelModify()">Cancel</button>
    </ng-template>
</nz-modal>

<nz-modal
  [(nzVisible)]="deleteModalFlag"
  nzTitle="Delete Record"
  (nzOnCancel)="CancelDelete()"
  (nzOnOk)="ConfirmDelete()"
  [nzFooter]="deleteFooter"
>
<div style="text-align: center;">
  <i nz-icon class="ant-avatar-orange" nzType="exclamation-circle"  nzTheme="outline"></i>
  <h2>Delete Inventory</h2>
  <h6>Are you sure you want to do it?This action will permanently delete this record</h6>

<ng-template #deleteFooter>
    <button nz-button nzType="primary" (click)="ConfirmDelete()">Yes, Continue</button>
    <button nz-button nzType="danger" (click)="CancelDelete()">No, Cancel</button>
  </ng-template>
</div>
</nz-modal>