<nz-tabset>
  <nz-tab nzTitle="Profile">
    <nz-table [nzData]="employerProfile" class="overflow-auto">
      <thead>
        <tr>
          <th>Field</th>
          <th>Information</th>
          <th>Action</th>
          <th>Verified By</th>
          <th>Verified Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of employerProfile; let i = index">
          <td>{{ obj.Field }}</td>
          <td>{{ obj.Information }}</td>
          <td class="pointer" rowspan = "5" *ngIf="i == 0">
          <a (click)="popupCreate()">{{selectedAction ? selectedAction : 'Action'}}</a><i nz-icon [nzType]="'edit'" class="ant-avatar-blue"></i>
          </td>
          <td class="pointer" rowspan = "5" *ngIf="i == 0">{{selectedAction ? 'Raj Kumar' : '-'}}</td>
          <td class="pointer" rowspan = "5" *ngIf="i == 0">{{selectedAction ? 'Mar 21,2021' : '-'}}</td>
        </tr>
       
        <tr>
          <td colspan="3"></td>
          <td><button nz-button nzType="primary">Save</button></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-tab>
</nz-tabset>
<nz-modal 
  [(nzVisible)]="isVisible"
  nzTitle="Approve or Reject"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
<!-- <form  nz-form [formGroup]="rejectForm">
<nz-form-label [nzSm]="7" [nzXs]="24" nzFor="country">Select Action</nz-form-label>
<nz-form-item>
  <nz-form-control [nzSm]="17" [nzXs]="24" nzErrorTip="Please select country!">
    <nz-select style="min-width: 220px;" class="w-100" nzPlaceHolder="Select Action">
      <nz-option nzLabel="Approve" nzValue="Approve"></nz-option>
      <nz-option nzLabel="Reject" nzValue="Reject"></nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>
</form> -->

  <h6>Select Action</h6>
  
  <button nz-button nz-dropdown [nzDropdownMenu]="menu4" [nzTrigger]="'click'" class="w-200px">
    {{selectedAction ? selectedAction : 'Select Action'}}
    <i nz-icon nzType="down"></i>
  </button>
  <nz-dropdown-menu #menu4="nzDropdownMenu" >
    <ul nz-menu>
      <li
        nz-menu-item
        (click)="selectAction(obj)"
        *ngFor="let obj of actionArray"
      >
        {{ obj }}
      </li>
    </ul>
  </nz-dropdown-menu>
  <ng-container *ngIf="selectedAction == 'Reject'">
    <nz-card class="authcard"> 
      <div class="row border p-10">
        <span class="col-11 text-start">Select Reason</span>
        <i class="text-right" nz-icon nzType="down"></i>
      </div>
      <div class="row border p-10">
        <ng-container *ngFor="let obj of rejectReason,let i = index">
          <div class="col-12 p-0">
          <input type="checkbox" [id]="i" class="mr-2" (change)="onChange(i, $event.target.checked)">{{obj.Reason}}
        </div>
        <h6 class="font-size-12 text-gray ml-4">{{obj.Description}}</h6>
      </ng-container>
      </div>
    </nz-card>

    <ng-container *ngIf="commentFlag">
    <h6 class="m-t-50">Reject Reason</h6>
    <div>
      <textarea
        nz-input
        placeholder="Write a Reason"
        [nzAutosize]="{ minRows: 3, maxRows: 5 }"
      ></textarea>
    </div>
  </ng-container>
  </ng-container>
</nz-modal>
