<div class="container">
  <nz-tabset>
    <nz-tab nzTitle="Profile">
      <nz-table [nzData] = "profile">
        <thead>
          <tr>
            <th *ngFor="let field of fieldsArr">{{ field }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of profile; let i = index">
            <td>{{ obj.Field }}</td>
            <td style="max-width: 300px">
              {{ obj.Information }}
            </td>
            <td rowspan = "3" *ngIf="i == 0">
              <a (click)="popupCreate()">{{selectedAction ? selectedAction : 'Action'}}</a><i nz-icon [nzType]="'edit'" class="ant-avatar-blue"></i>
             
            </td>
            
            <td rowspan = "3" *ngIf="i == 0">
              {{selectedAction ? 'Raj Kumar' : '-'}}
            </td>
            <td rowspan = "3" *ngIf="i == 0">
              {{selectedAction ? 'Mar 20,2021' : '-'}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab nzTitle="Education">
      <div>
        <h5 class="text-primary m-t-30">Education 1</h5>
        <nz-table [nzData] ="education">
          <thead>
            <tr>
              <th *ngFor="let field of fieldsArr">{{ field }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of education; let i = index">
              <td>{{ obj.Field }}</td>
              <td *ngIf="i != 2" style="max-width: 300px">
                {{ obj.Information }}
              </td>
              <td *ngIf="i == 2">
                <a>{{ obj.Information }}</a>
              </td>
              <td rowspan = "3" *ngIf="i == 0">
                <a (click)="popupCreate()">{{selectedAction ? selectedAction : 'Action'}}</a><i nz-icon [nzType]="'edit'" class="ant-avatar-blue"></i>
              </td>
              
              <td rowspan = "3" *ngIf="i == 0">
                {{selectedAction ? 'Raj Kumar' : '-'}}
              </td>
              <td rowspan = "3" *ngIf="i == 0">
                {{selectedAction ? 'Mar 20,2021' : '-'}}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <h5 class="text-primary m-t-30">Education 2</h5>
      <nz-table [nzData] = "education">
        <thead>
          <tr>
            <th *ngFor="let field of fieldsArr">{{ field }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of education; let i = index">
            <td>{{ obj.Field }}</td>
            <td *ngIf="i != 2" style="max-width: 300px">
              {{ obj.Information }}
            </td>
            <td *ngIf="i == 2">
              <a>{{ obj.Information }}</a>
            </td>
            <td rowspan = "3" *ngIf="i == 0">
              <a (click)="popupCreate()">{{selectedAction ? selectedAction : 'Action'}}</a><i nz-icon [nzType]="'edit'" class="ant-avatar-blue"></i>
            </td>
            
            <td rowspan = "3" *ngIf="i == 0">
              {{selectedAction ? 'Raj Kumar' : '-'}}
            </td>
            <td rowspan = "3" *ngIf="i == 0">
              {{selectedAction ? 'Mar 20,2021' : '-'}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab nzTitle="Experience">
      <h5 class="text-primary m-t-30">Experience 1</h5>
      <nz-table [nzData] = "experience">
        <thead>
          <tr>
            <th *ngFor="let field of fieldsArr">{{ field }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of experience; let i = index">
            <td>{{ obj.Field }}</td>
            <td *ngIf="i != 2" style="max-width: 300px">
              {{ obj.Information }}
            </td>
            <td *ngIf="i == 2">
              <tr *ngFor="let date of obj.Information">
                {{
                  date.Date
                }}
              </tr>
            </td>
            <td rowspan = "4" *ngIf="i == 0">
              <a (click)="popupCreate()">{{selectedAction ? selectedAction : 'Action'}}</a><i nz-icon [nzType]="'edit'" class="ant-avatar-blue"></i>
            </td>
            
            <td rowspan = "4" *ngIf="i == 0">
              {{selectedAction ? 'Raj Kumar' : '-'}}
            </td>
            <td rowspan = "4" *ngIf="i == 0">
              {{selectedAction ? 'Mar 20,2021' : '-'}}
            </td>
          </tr>
        </tbody>
      </nz-table>
      <h5 class="text-primary m-t-30">Experience 2</h5>
      <nz-table [nzData] = "experience">
        <thead>
          <tr>
            <th *ngFor="let field of fieldsArr">{{ field }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of experience; let i = index">
            <td>{{ obj.Field }}</td>
            <td *ngIf="i != 2" style="max-width: 300px">
              {{ obj.Information }}
            </td>
            <td *ngIf="i == 2">
              <tr *ngFor="let date of obj.Information">
                {{
                  date.Date
                }}
              </tr>
            </td>
            <td rowspan = "4" *ngIf="i == 0">
              <a (click)="popupCreate()">{{selectedAction ? selectedAction : 'Action'}}</a><i nz-icon [nzType]="'edit'" class="ant-avatar-blue"></i>
            </td>
            
            <td rowspan = "4" *ngIf="i == 0">
              {{selectedAction ? 'Raj Kumar' : '-'}}
            </td>
            <td rowspan = "4" *ngIf="i == 0">
              {{selectedAction ? 'Mar 20,2021' : '-'}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab nzTitle="Certifications">
      <h5 class="text-primary m-t-30">Certification 1</h5>
      <nz-table [nzData] = "certification">
        <thead>
          <tr>
            <th *ngFor="let field of fieldsArr">{{ field }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of certification; let i = index">
            <td>{{ obj.Field }}</td>
            <td *ngIf="i != 3" style="max-width: 300px">
              {{ obj.Information }}
            </td>
            <td *ngIf="i == 3">
              <a>{{ obj.Information }}</a>
            </td>
            <td rowspan = "4" *ngIf="i == 0">
              <a (click)="popupCreate()">{{selectedAction ? selectedAction : 'Action'}}</a><i nz-icon [nzType]="'edit'" class="ant-avatar-blue"></i>
            </td>
            
            <td rowspan = "4" *ngIf="i == 0">
              {{selectedAction ? 'Raj Kumar' : '-'}}
            </td>
            <td rowspan = "4" *ngIf="i == 0">
              {{selectedAction ? 'Mar 20,2021' : '-'}}
            </td>
          </tr>
        </tbody>
      </nz-table>
      <h5 class="text-primary m-t-30">Certification 2</h5>
      <nz-table [nzData] = "certification">
        <thead>
          <tr>
            <th *ngFor="let field of fieldsArr">{{ field }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of certification; let i = index">
            <td>{{ obj.Field }}</td>
            <td *ngIf="i != 3" style="max-width: 300px">
              {{ obj.Information }}
            </td>
            <td *ngIf="i == 3">
              <a>{{ obj.Information }}</a>
            </td>
            <td rowspan = "4" *ngIf="i == 0">
              <a (click)="popupCreate()">{{selectedAction ? selectedAction : 'Action'}}</a><i nz-icon [nzType]="'edit'" class="ant-avatar-blue"></i>
            </td>
            
            <td rowspan = "4" *ngIf="i == 0">
              {{selectedAction ? 'Raj Kumar' : '-'}}
            </td>
            <td rowspan = "4" *ngIf="i == 0">
              {{selectedAction ? 'Mar 20,2021' : '-'}}
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button nz-button nzType="primary">Save</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Approve or Reject"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <h6>Select Action</h6>
    <button
      nz-button
      nz-dropdown
      [nzDropdownMenu]="menu4"
      [nzTrigger]="'click'"
    >
    {{selectedAction ? selectedAction : 'Select Action'}}
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu4="nzDropdownMenu">
      <ul nz-menu>
        <li
          nz-menu-item
          (click)="selectAction(obj)"
          *ngFor="let obj of actionArray"
        >
          {{ obj }}
        </li>
      </ul>
    </nz-dropdown-menu>
    <ng-container *ngIf="selectedAction == 'Reject'">
      <nz-card class="authcard"> 
        <div class="row border p-10">
          <span class="col-11 text-start">Select Reason</span>
          <i class="text-right" nz-icon nzType="down"></i>
        </div>
        <div class="row border p-10">
          <ng-container *ngFor="let obj of rejectReason,let i = index">
            <div class="col-12 p-0">
            <input type="checkbox" [id]="i" class="mr-2" (change)="onChange(i, $event.target.checked)">{{obj.Reason}}
          </div>
          <h6 class="font-size-12 text-gray ml-4">{{obj.Description}}</h6>
        </ng-container>
        </div>
      </nz-card>
  
      <ng-container *ngIf="commentFlag">
      <h6 class="m-t-50">Reject Reason</h6>
      <div>
        <textarea
          nz-input
          placeholder="Write a Reason"
          [nzAutosize]="{ minRows: 3, maxRows: 5 }"
        ></textarea>
      </div>
    </ng-container>
    </ng-container>
  </nz-modal>

  <!-- <div id="myModal" class="modal" *ngIf = "displayDoc">
    <span class="close">
      <i nz-icon [nzType]="'close'" class="ant-avatar-white"></i>
    </span>
    <img class="modal-content" src="aseets/images/product-1.jpg" id="img01">
   <div id="caption"></div> 
  </div> -->
</div>
